<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head')  %>
    <title>Add Blog</title>
</head>
<body>
     <%- include('navbar') %>

    <div class="container mt-4 bg-secondary p-5">
        <form action="/blog/addBlog" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image</label>
    <input type="file" name="image" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="textarea" class="form-label">Body</label>
   <textarea id="textarea" name="body" class="form-control"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

    <%- include('script')  %>
</body>
</html>